version: '3.8'

services:
  neo4j:
    image: neo4j:5.15.0
    container_name: supply_chain_neo4j
    ports:
      - "7474:7474"  # HTTP
      - "7687:7687"  # Bolt
    environment:
      - NEO4J_AUTH=neo4j/password123
      - NEO4J_PLUGINS=["apoc"]
      - NEO4J_dbms_security_procedures_unrestricted=apoc.*
    volumes:
      - neo4j_data:/data
      - neo4j_logs:/logs
    networks:
      - supply_chain_network

  web:
    build: .
    container_name: supply_chain_web
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - NEO4J_BOLT_URL=bolt://neo4j:7687
      - NEO4J_USERNAME=neo4j
      - NEO4J_PASSWORD=password123
    depends_on:
      - neo4j
    networks:
      - supply_chain_network

volumes:
  neo4j_data:
  neo4j_logs:

networks:
  supply_chain_network:
    driver: bridge
